n8n/Workshop BRIN V1.0 - Adding Knowledge Base.json
{
  "name": "Workshop BRIN V1.0 - Adding Knowledge Base",
  "nodes": [
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=file_id",
                "value": "={{ $('Set File ID').item.json.file_id }}"
              }
            ]
          }
        }
      },
      "id": "a5426e14-6bba-4b13-9bfe-b7e099c36c65",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        2000,
        192
      ]
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "dfa2305b-647e-4b12-a02f-0c3a97ea39e0",
      "name": "Embeddings OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        1872,
        192
      ],
      "credentials": {
        "openAiApi": {
          "id": "YxL1bQgwvcx3mG0K",
          "name": "Workshop BRIN"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Set File ID').item.json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "id": "efad035f-dc0f-4bc4-9ab3-b38ca0a60fe4",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1424,
        -32
      ],
      "executeOnce": true,
      "credentials": {
        "googleApi": {
          "id": "7Q7pDRWVhWMzLiCJ",
          "name": "Workshop"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "serviceAccount",
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1BnqLLBaUK89LmXIk6TP-k_BLTfah7WoN",
          "mode": "id"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "id": "2dbc3300-10c8-473b-85e6-1484645e5335",
      "name": "File Created",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        752,
        -128
      ],
      "credentials": {
        "googleApi": {
          "id": "7Q7pDRWVhWMzLiCJ",
          "name": "Workshop"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "serviceAccount",
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1BnqLLBaUK89LmXIk6TP-k_BLTfah7WoN",
          "mode": "id"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "41f03a94-7d73-4274-8be8-3eaba6bf6985",
      "name": "File Updated",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        752,
        64
      ],
      "credentials": {
        "googleApi": {
          "id": "7Q7pDRWVhWMzLiCJ",
          "name": "Workshop"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "762d7519-cb41-40f1-a9c3-3bc55bf6d608",
      "name": "Extract Document Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1648,
        -32
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 20,
        "options": {}
      },
      "id": "90e85e51-565b-4bf5-91ca-a4d006e9309b",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        2080,
        400
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e0a36af1-68e0-43aa-958f-de0c401598b1",
      "name": "Set File ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        976,
        -32
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "simple_knowledge_vectors",
        "options": {
          "columnNames": {
            "values": {
              "contentColumnName": "content"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        1904,
        -32
      ],
      "id": "3431f4dd-d978-4473-8699-449de054ba43",
      "name": "Postgres PGVector Store2",
      "credentials": {
        "postgres": {
          "id": "CVnUo8lgR0frQ0Jn",
          "name": "Prod Postgres Vector"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM simple_knowledge_vectors\nWHERE metadata->>'file_id' LIKE '%{{ $json.file_id }}%'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1200,
        -32
      ],
      "id": "3d0bd79e-50aa-45bf-af99-77f0cfc93f45",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "QoWn974OyLUrsTAu",
          "name": "Postgres dbvectore - baremetal"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store2",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Extract Document Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Created": {
      "main": [
        [
          {
            "node": "Set File ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Updated": {
      "main": [
        [
          {
            "node": "Set File ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Document Text": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Set File ID": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d462c56a-9c11-4573-99d1-70f240212f32",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a06abe883338c6411d4de812ccc15709fe5c7db7ed2184999619cc1177983f5d"
  },
  "id": "YreITkN22jZdaRvR",
  "tags": [
    {
      "createdAt": "2025-12-08T02:15:36.245Z",
      "updatedAt": "2025-12-08T02:15:36.245Z",
      "id": "HO5CGGaEwgp0nS6F",
      "name": "AI Assistant"
    },
    {
      "createdAt": "2025-07-19T15:33:05.452Z",
      "updatedAt": "2025-07-19T15:33:05.452Z",
      "id": "2oqT65cqtMz1xHxe",
      "name": "ai-wa-agent"
    },
    {
      "createdAt": "2025-12-08T02:15:27.684Z",
      "updatedAt": "2025-12-08T02:15:27.684Z",
      "id": "QuzeMqgOluFNlldh",
      "name": "brin"
    },
    {
      "createdAt": "2025-12-08T02:15:25.436Z",
      "updatedAt": "2025-12-08T02:15:25.436Z",
      "id": "g4KAc0FauZYfbTHt",
      "name": "workshop"
    }
  ]
}